.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}


.img1{
    height: 60px;
    width: 60px;
}
input{
    height: 40px;
    width: 400px;
    border: transparent;
    background-color: #f5f5f5;

}
input:hover{
    background-color: #ffffff;
    border: 1px solid white;
}
input:focus {
    outline: none;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5f5f5;
    
}
.searchbar:hover{
    background-color: #ffffff;
    border: 2px solid #f5f5f9;
}
#seicon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: transparent;
   
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 200px;
    margin-top: 10px;
    color: #0000006c;
    
}

#icons1{
    
    width: 40px;
    color:  rgba(37, 36, 36, 0.912);
}
.imgad{
    height: 600px;
    width: 100%;
    margin-top: 80px;
}
.imgad2{
    width: 100%;
    height:80px
}

.main{
   
   background-color: white;
   display: flex;
   
   flex-direction: row;
   justify-content: space-evenly;
   
   flex-wrap: wrap;
   padding: 20px 0px 15px;
   margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
.box{
    height: 300px;
    width: 200px;
    border: 5px solid #707070;
    margin-top: 40px;
    

}
.boximage{
    background-image: url("tshirt.jpg");
   background-size: cover;
   height: 220px;
   width:200px;
}
.class{
   
   height: 80px;
   width:200px;
   
}
a{
    text-decoration: none;
    color: rgba(37, 36, 36, 0.912);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.footer{
    background-color: #fafbfd;
    display: flex;
    
    justify-content: space-evenly;
    height: 600px;
    width: 90%;
    margin-left:70px;
    margin-top: 30px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(152, 145, 145);
    font-size: 14px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: black;
    font-size: 17px;
}